{% extends "base.html" %} 
{% block content %}
<style>
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    .text-color, .errorlist{
      font-weight:600;
      color:#fff;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my awesome Blog </h3>
                    <p class="text-light">We Love Django As much as you do..! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <a href="techguy/create"><span class="glyphicon glyphicon-pencil" >Add</span></a>  



  {% if form.errors %}
    <p class="text-color">{{form.errors}}</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-color">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p class="text-color">Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td class="text-color">{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td class="text-color">{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
      <tr>
        <td class="text-color">{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
      </tr>
      <tr>
        <td class="text-color">{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div class="text-color">Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a></div>

        </div>
        
    </div>
</div>
{%endblock%}