{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }

    .text-light a{
        color:#fff;
        font-weight:600;
    }
    
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white text-center"> Customers </h3>
                    <p class="text-light text-center">
                        <a href="techguy/create">
                            <span class="glyphicon glyphicon-pencil" >ADD</span>
                        </a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column --> 
        {% for customer in customers %}
        <div class="col-6 col-sm-4 mt-5 ml-2 p-4 bg-dark rounded text-center">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ customer.name }}</h2>
                   

                </div>
            </div>
            <a class="text-info" href="techguy/edit/{{ post.id }}"><span class="glyphicon glyphicon-pencil" >Edit |</span></a>  
            <a class="text-info" href="techguy/delete/{{ post.id }}"> Update |</a>  
            <a class="text-info" href="techguy/delete/{{ post.id }}"> Delete</a>  
        </div>
        {% endfor %}
        
    </div>
</div>
{%endblock%}