{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }

    .text-light a{
        color:#fff;
        font-weight:600;
    }
    
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white text-center"> Products </h3>
                    <p class="text-light text-center">
                        <a href="{% url "create_product" %}">
                            <span class="glyphicon glyphicon-pencil" >ADD</span>
                        </a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

                    <form method="get">
                    {{myFilter.form}}

                <button class="btn btn-success">Search</button>  
                    </form>
<div class="container mb-5">
    <div class="row">
        <!-- Blog Entries Column --> 
        <div class="col-6 col-sm-4 mt-5 text-capitalize">
            <div class="bg-dark p-4 rounded">
                <div class="card mb-4">
                    <div class="card-body">

                    </div>
                </div>
            </div>  
        </div>
        
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <!-- Blog Entries Column --> 
        {% for product in products %}
        <div class="col-6 col-sm-4 mt-5 text-capitalize">
            <div class="bg-dark p-4 rounded">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Name : {{ product.name }}</h4>
                        <p class="card-title">SKU : {{ product.sku }}</p>
                        <p class="card-title">Quantity : {{ product.quantity }}</p>
                        <p class="card-title">Product Type : {{ product.product_type }}</p>
                    

                    </div>
                </div>
                <div class="text-center">
                    <a class="text-info" href="{% url "detail_product" product.pk %}"><span class="glyphicon glyphicon-pencil" >View |</span></a>  
                    <a class="text-info" href="{% url "update_product" product.id %}"> Edit |</a>  
                    <a class="text-info" href="{% url "delete_product" product.id %}"> Delete</a>
                </div>
            </div>  
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}