{% extends 'base.html' %} {% block content %}
{{ formset.errors }}
{{ formset.non_field_errors }}
{{ form.errors }}
{{ form.non_field_errors }}

<style>
.font-white{
    color:#fff;
    font-weight:600;
}
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white text-center"> Customers </h3>
                    <p class="text-light text-center">
                        <a href="{% url 'create_customer' %}">
                            <span class="glyphicon glyphicon-pencil" >ADD</span>
                        </a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<form method="POST" class="post-form" action="{% url 'update_order' order.id %}">  
        {% csrf_token %}  
    <div class="container">  
        <br>  
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <h3 class="font-white">Update Details</h3>  
            </div>  
        </div>  
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label font-white">Order ID :</label>  
            <div class="col-sm-4">  
                <input type="text" name="order_id" id="id_order_id" required maxlength="200" value="{{ order.order_id }}"/>  
            </div>  
        </div> 
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label font-white">Customer :</label>  
            <div class="col-sm-4">  
                <input type="text" name="customer" id="id_customer" required maxlength="200" value="{{ order.customer }}"/>  
            </div>  
        </div>
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label font-white">Product :</label>  
            <div class="col-sm-4">  
                <input type="text" name="product" id="id_product" required maxlength="200" value="{{ order.product }}"/>  
            </div>  
        </div>
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label font-white">Status :</label>  
            <div class="col-sm-4">  
                <input type="text" name="status" id="id_status" required maxlength="200" value="{{ order.status }}"/>  
            </div>  
        </div>
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <button type="submit" class="btn btn-success">Update</button>  
            </div>  
        </div>  
    </div>  
</form>  
{% endblock content %}